@using System.ComponentModel.DataAnnotations

@inherits State<TeamName>
@inject IStringLocalizer<Resources> L

<StateContainer Title="@(L["Components.States.TeamName.Title"])">
    <div class="row mb-5">
        <div class="col">
            <TeamMembers Players="this.Team.Players" />
        </div>
    </div>
    <MudForm @ref="this.form" IsValidChanged="_ => this.StateHasChanged()">
        <MudTextField
            T="string"
            Label="@(L[$"Components.States.TeamName.Title"])"
            Required="true"
            RequiredError="@(L["Common.Error.Required"])"
            Validation="@(new MinLengthAttribute(2) { ErrorMessage = L["Components.States.TeamName.MinLengthError"] })"
            MaxLength="30"
            @bind-Value="this.teamName"
            Immediate="true"
            Class="my-10" />
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            FullWidth="true"
            Size="Size.Large"
            Disabled="!this.form!.IsValid"
            @onclick="this.Submit">
            @L["Components.States.TeamName.Button"]
        </MudButton>
    </MudForm>
</StateContainer>