@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.TeamName.Title"])">
            <div class="row mb-5">
                <div class="col">
                    <TeamMembers Players="this.Team.Players" />
                </div>
            </div>
            <form @onsubmit="this.Submit" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input
                                class="form-control"
                                placeholder="@(L["Components.States.TeamName.Title"])"
                                id="team-name-input"
                                type="text"
                                @bind="this.Value"
                                minlength="3"
                                maxlength="30"
                                title="@(L["Components.States.TeamName.Title"])"
                                required>
                            <label for="team-name-input">@L["Components.States.TeamName.Title"]</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid col">
                        <button name="join" class="btn btn-success btn-lg" type="submit">
                            @L["Components.States.TeamName.Button"]
                        </button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}