@page "/play"
@using Fishbowl.Net.Client.Components
@using Fishbowl.Net.Client.Components.States

@inject NavigationManager NavigationManager

<h1>Play</h1>

<StateManager @ref="this.stateManager">
    <Connecting />
    <TeamCount OnTeamCountSet="@this.SubmitTeamCount" />
    <RoundTypes OnRoundTypesSet="@this.SubmitRoundTypes" />
    <PlayerName OnPlayerNameSet="this.SetPlayerNameAsync" />
    <PlayerWords OnPlayerWordsSet="this.SubmitPlayerData" />
    <WaitingForPlayers />
    <GameStarted />
    <RoundStarted />
    <PeriodSetupPlay OnStarted="@this.StartPeriod" />
    <PeriodSetupWatch />
    <PeriodPlay OnScoreAdded="@this.AddScore" OnPeriodFinished="@this.FinishPeriod" />
    <PeriodWatch />
    <PeriodFinished />
    <RoundFinished />
    <GameFinished />
</StateManager>
