@page "/play"
@using Microsoft.Extensions.Logging
@using Fishbowl.Net.Client.Components
@using Fishbowl.Net.Client.Components.States

@inject NavigationManager NavigationManager
@inject IStorageService StorageService
@inject ILogger<Play> Logger
@inject IStringLocalizer<Resources> StringLocalizer

<div class="position-fixed top-0 start-50 translate-middle-x mt-1 pt-2">
    <Toast @ref="this.connectionCountDisplay" Auto="false" Message="@($"{L("Pages.Play.ConnectionCount")}: {this.connectionCount}")" />
</div>

<StateManager @ref="this.stateManager">
    <Connecting />
    <Password OnCreateGame="this.CreateGame" OnJoinGame="this.JoinGame" />
    <WordCount OnWordCountSet="this.SetWordCount" />
    <TeamCount OnTeamCountSet="this.SetTeamCount" />
    <RoundTypes OnRoundTypesSet="this.SetRoundTypes" />
    <PlayerName OnPlayerNameSet="this.SetPlayerName" />
    <PlayerWords WordCount="this.gameContextSetup.GameSetup.WordCount" OnPlayerWordsSet="this.SubmitPlayerData" />
    <WaitingForPlayers />
    <GameStarted Delay="@TimeSpan.FromSeconds(4)" />
    <RoundStarted Delay="@TimeSpan.FromSeconds(4)" />
    <PeriodSetupPlay OnStarted="this.StartPeriod" />
    <PeriodSetupWatch />
    <PeriodPlay
        OnScoreAdded="this.AddScore"
        OnPeriodFinished="this.FinishPeriod"
        OnLastScoreRevoked="this.RevokeLastScore" />
    <PeriodWatch />
    <PeriodFinished Delay="@TimeSpan.FromSeconds(4)" />
    <RoundFinished Delay="@TimeSpan.FromSeconds(4)" />
    <GameFinished />
    <Error Delay="@TimeSpan.FromSeconds(4)" />
</StateManager>

<ToastContainer @ref="this.toastContainer" />
