@using Fishbowl.Net.Client.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@this.Period.Round.Type">
            <div class="row">
                <div class="col">
                    <h4>@L["Components.States.PeriodSetupWatch.WaitingForPlayer"]</h4>
                    <p>@this.Period.Player.Name</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>@L["Components.States.PeriodSetupWatch.PeriodLength"]</h4>
                    <p>@this.Period.Length</p>
                </div>
            </div>
        </StateContainer>;
}