<h2>Round: @this.Round.Type</h2>


<Timer Start="@this.StartedAt" Length="@this.Period.Length()" OnExpired="@(() => this.expired = true)" />

@if (this.Word is not null)
{
    <p>@this.Word!.Value</p>
    <div>
        <button type="button" @onclick="this.ScoreAdded">Guessed</button>
    </div>
}

@if (this.expired)
{
    <div>
        <button type="button" @onclick="@(e => this.OnPeriodFinished.InvokeAsync(DateTimeOffset.UtcNow))">Pass</button>
    </div>   
}