@inherits State

@code
{
    protected override RenderFragment Content =>
        @<div>
            <h2>Round: @this.Round.Type</h2>

            <p>@this.Period.Player.Name started at @this.Period.StartedAt with length @this.Period.Length()</p>

            <Timer Start="@StartedAt" Length="@this.Period.Length()" />
        </div>;
}