@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StateContainer Title="@(L["Components.States.Password.Title"])">
            <form @onsubmit="e => this.Callback.InvokeAsync(this.password)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input
                                class="form-control"
                                placeholder="@(L["Components.States.Password.InputPlaceholder"])"
                                id="password"
                                name="password"
                                type="text"
                                @bind="this.password"
                                pattern="[a-z0-9\-]{3,30}"
                                title="@(L["Components.States.Password.InputTitle"])"
                                required>
                            <label for="password">@L["Components.States.Password.Title"]</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid col-6">
                        <button name="create" class="btn btn-warning btn-lg" type="submit" @onclick="e => this.create = true">
                            @L["Components.States.Password.CreateButton"]
                        </button>
                    </div>
                    <div class="d-grid col-6">
                        <button name="join" class="btn btn-success btn-lg" type="submit" @onclick="e => this.create = false">
                            @L["Components.States.Password.JoinButton"]
                        </button>
                    </div>
                </div>
            </form>
        </StateContainer>;
}