@using Fishbowl.Net.Client.Online.Components.Templates
@inherits State
@inject IStringLocalizer<Resources> L

@code
{
    protected override RenderFragment Content =>
        @<StepContainer
            Title="@(L["Components.States.Common.SetupPlayer"])"
            Subtitle="@(L["Components.States.PlayerName.Title"])"
            TotalSteps="2" Step="1">
            <form @onsubmit="e => this.OnPlayerNameSet.InvokeAsync(this.Value)" @onsubmit:preventDefault>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating text-dark">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                autocomplete="nickname"
                                placeholder="@(L["Components.States.PlayerName.InputPlaceholder"])"
                                @bind="this.Value"
                                minlength="3"
                                required>
                            <label for="name">@L["Components.States.PlayerName.Title"]</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="d-grid col">
                        <button class="btn btn-success btn-lg" type="submit">
                            @L["Components.States.PlayerName.SubmitButton"]
                        </button>
                    </div>
                </div>
            </form>
        </StepContainer>;
}