@using Net.Shared.Data

@if (this.Round is not null && this.Period is not null)
{
    <h2>Round: @this.Round.Type</h2>

    if (this.Period.StartedAt is null)
    {
        <p>Waiting for player @this.Period.Player.Name to start... with length @this.Period.Length()</p>
    }
    else
    {
        <p>@this.Period.Player.Name started at @this.Period.StartedAt with length @this.Period.Length()</p>
    }
}

@code
{
    [Parameter]
    public Round? Round { get; set; }

    [Parameter]
    public Period? Period { get; set; }
}